div{
  border: solid;
  background: purple;
  width: 80%;
  aspect-ratio: 2/3;
  border-radius: 50px;
  position: relative;
  left: 10%;
  text-align: center;
}
input{
  width: 80%;
  position: relative;
  top: 5%;
}
textarea{
  width: 80%;
  height: 50%;
  text-align: center;
  position: relative;
  top: 20%;
}
button{
  width: 80%;
  aspect-ratio: 5/1;
  background-color:limegreen;
  position: relative;
  left: 9%;
  margin: 5px;
}
img{
  width: 25%;
  position: relative;
  top: 15%;
}
